.institution-logo{
    width: 200px;
    height: 200px;
}

  .dot-section{
    display: flex;
    justify-content: end;
    margin-top: 20px;
}
.active-dot{
    height: 15px;
    width: 15px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #6f6f6f;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .page-grid{
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
    position: relative;
    width: 100%;
    }

.individual-page{
    flex :  0 0 100%;
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.container {
    padding: 0 !important; /* Removes any default Bootstrap padding */
    overflow: hidden;
    border-radius: 25px;
    
  }
  
  .education-component{
  background-color: #fcb8b8;
}
 
