.primaryInformationSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}

.triSectionRight {
  flex-direction: row;
  display: flex;
  justify-content: start;
  align-items: start;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  width: 30%;
  margin: 0px;
}
.institutionTitle {
  display: flex;
  align-items: center;
}
.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30%;
}
.descriptionContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.institutionImage {
  border-radius: 25px;
  width: 25%;
}
.degreeTitle {
  display: flex;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.graduationHatImage {
  width: 40px;
  height: 40px;
  margin-right: 1px;
}
.locationIcon {
  width: 25px;
  height: 25px;
}


.bubbleSection {
  margin-left: 1%;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background-color: rgba(25, 15, 226, 0);
  justify-content: center;
  align-items: center;
}
.bubbleTrack {
  display: inline-flex;
  animation: moveRight 65s linear infinite;
  width: max-content;
  gap: 10px;
}

@keyframes moveRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.bubbleChip {
  margin: 4px 0px;
  color: #000000;
  white-space: nowrap;
  padding: 5px 20px;
  background-color: rgba(209, 225, 251, 0.104);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  height: 30px;
  display: inline-block;
  letter-spacing: 0.2px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.133);
}
.bubbleChip:hover {
  background-color: rgba(112, 167, 255, 0.104);
  color: rgb(0, 0, 0);
  box-shadow: -2px -2px 10px rgba(63, 63, 63, 0.212) inset;
}

@media (min-width: 768px) {
  .educationFirstPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px !important;
  }
  .institutionTitle {
    display: flex;
    align-items: center;
  }

  .primaryInformationSection {
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px !important;
    background-color: rgba(44, 125, 255, 0.351);
  }

  .descriptionContainer {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 60%;
    height: 60%;
  }
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
  }
  .institutionImage {
    height: auto;
    width: 79%;
  }
  .instituteName {
    margin-top: 2%;
    font-size: 1.3rem;
    font-weight: 550;
  }
  .locationDiv {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }
  .locationIcon {
    width: 25px;
    height: 25px;
  }
  .secondaryInformationSection {
    width: 100%;
    height: 30%;
    display: flex;
    padding-bottom: 1%;
  }
}

@media (min-width: 992px) {
  .educationFirstPage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px !important;
  }

  .primaryInformationSection {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px !important;
    background-color: rgba(126, 175, 255, 0.351);
  }

  .imageContainer {
    background-color: rgba(178, 110, 70, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .institutionImage {
    border-radius: 25px;
    width: 85%;
  }
  .institutionTitle {
    display: flex;
    align-items: center;
  }

  .descriptionContainer {
    background-color: rgba(250, 128, 114, 0);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    padding-left: 10px;
    height: 100%;
  }

  .degreeTitle {
    display: flex;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
  }
  .graduationHatImage {
    width: 40px;
    height: 40px;
    margin-right: 1px;
  }
  .instituteName {
    font-size: 1.3rem;
    font-weight: 550;
    color: rgba(0, 0, 0, 0.749);
  }
  .locationDiv {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
  }

  .location {
    font-size: 1rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.583);
    margin-left: 2px;
    white-space: nowrap;
  }

  .triSection {
    background-color: rgba(25, 15, 226, 0);
    display: flex;
    width: 100%;
  }
  .gpsSection {
    display: flex;
    justify-content: start;
  }
  .triSectionLeft {
    background-color: rgba(59, 50, 236, 0);
  }

  .triSectionRight {
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .durationDiv {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.2rem;
    font-weight: 400;
    white-space: nowrap;
  }
}
