.educationFirstPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0px !important;
}

.primaryInformationSection {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px !important;
  background-color: rgba(112, 167, 255, 0.351);
}

.imageContainer {
  background-color: rgba(127, 255, 212, 0);
  display: flex;
  justify-content: right;
  align-items: center;
  aspect-ratio: 1/1;
  height: 90%;
}
.institutionImage {
  border-radius: 25px;
  height: 90%;
  /* aspect-ratio: 1/1; */
}
.institutionTitle {
  display: flex;
  align-items: center;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  padding-left: 10px;
  height: max-content;
  height: 100%;
}
.degreeTitle {
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.graduationHatImage {
  width: 40px;
  height: 40px;
  margin-right: 1px;
}
.instituteName {
  font-size: 1.3rem;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.749);
  /* margin-left: 10px; */
}
.locationDiv {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.locationIcon {
  width: 25px;
  height: 25px;
}
.location {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.583);
  margin-left: 2px;
  white-space: nowrap;
}
.bubbleSection {
  height: auto;
  background-color: rgba(25, 15, 226, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px 14px;
  /* margin: 18px; */
  padding-top: 15px;
}

.bubbleChip {
  margin: 5px 5px;
  color: #000000;
  white-space: nowrap;
  padding: 5px 20px;
  background-color: rgba(209, 225, 251, 0.104);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.2px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.133);
  user-select: none;
}
.bubbleChip:hover {
  background-color: rgba(112, 167, 255, 0.104);
  color: rgb(0, 0, 0);
  box-shadow: -2px -2px 10px rgba(63, 63, 63, 0.212) inset;
}

.triSection {
  background-color: rgba(25, 15, 226, 0);
  display: flex;
  width: 100%;
}
.gpsSection {
  display: flex;
  justify-content: start;
}
.triSectionLeft {
  background-color: rgba(59, 50, 236, 0);
}

.triSectionRight {
  flex-direction: row;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.5rem;
  font-weight: 500;
  white-space: nowrap;
}
.durationDiv {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  font-weight: 400;
  white-space: nowrap;
}
.secondaryInformationSection {
  width: 100%;
  height: 30%;
  display: flex;
  padding-bottom: 1%;
}

.bubbleSection {
  margin-left: 1%;
  justify-content: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  background-color: rgba(25, 15, 226, 0);
  justify-content: center;
  align-items: center;
}
.bubbleTrack {
  display: inline-flex;
  animation: moveRight 65s linear infinite;
  width: max-content;
  gap: 10px;
}

@keyframes moveRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.bubbleChip {
  margin: 4px 0px;
  color: #000000;
  white-space: nowrap;
  padding: 5px 20px;
  background-color: rgba(209, 225, 251, 0.104);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  height: 30px;
  display: inline-block;
  letter-spacing: 0.2px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.133);
}
.bubbleChip:hover {
  background-color: rgba(112, 167, 255, 0.104);
  color: rgb(0, 0, 0);
  box-shadow: -2px -2px 10px rgba(63, 63, 63, 0.212) inset;
}

@media (max-width: 767.98px) {
  .primaryInformationSection {
    height: 100vh;
  }

  .triSectionRight {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
    width: 30%;
    margin: 0px;
  }
  .institutionTitle {
    display: flex;
    align-items: center;
  }
  .degreeTitle {
    display: flex;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
  }
  .secondaryInformationSection {
    display: none;
  }
}
