.experienceFirstPage {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.primaryInformationSection {
  width: 100%;
  height: 70%;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(112, 167, 255, 0.104);
  flex-direction: row;
  padding-left: 3%;
}

.imageContainer {
  background-color: rgba(127, 255, 212, 0);
  display: flex;
  justify-content: center;
  width: 40%;
}
.institutionImage {
  width: 80%;
  height: 70%;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-around;
  padding-left: 10px;
  height: max-content;
  width: 100%;
  height: 45%;
}
.roleTitle {
  display: flex;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.graduationHatImage {
  width: 40px;
  height: 40px;
  margin-right: 1px;
}
.companyTitle {
    padding-left: 1% ;
  font-size: 1.9rem;
  font-weight: 550;
  color: rgba(0, 0, 0, 0.749);
  /* margin-left: 10px; */
}
.locationDiv {
    display: flex;
  align-items: center;
  justify-content: start;;
}

.locationIcon {
  width: 25px;
  height: 25px;
}
.location{
    font-size: 1rem;
    font-weight: 600;
}

.employmentTypeDiv {
  display: inline-flex;
  align-items: center;
  width :100%;
  padding-left  :5%;
}


.employmentTypeDot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: currentColor; /* inherits text color for easy theming */
  display: inline-block;
  flex: 0 0 6px;
}
.employmentTypeText {
  padding-left: 3%;
  font-size: 1rem;
  font-weight: 600;
}


.bubbleSection {
  height: auto;
  background-color: rgba(25, 15, 226, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items:flex-start;
  /* gap: 14px 14px; */
  /* margin: 18px; */
  padding-top: 15px;
}

.bubbleChip {
  margin: 5px 5px;
  color: #000000;
  white-space: nowrap;
  padding: 5px 20px;
  background-color: rgba(209, 225, 251, 0.104);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.2px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.133);
  user-select: none;
}
.bubbleChip:hover {
  background-color: rgba(112, 167, 255, 0.104);
  color: rgb(0, 0, 0);
  box-shadow: -2px -2px 10px rgba(63, 63, 63, 0.212) inset;
}

.triSection {
  display: flex;
  width: 100%;
  margin-top: 1%;
  width: 40%;
}
.gpsSection {
  display: flex;
  justify-content: start;
}

.durationDiv {
  display: flex;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.2rem;
  font-weight: 300;
  padding-left : 1%; 
  white-space: nowrap;
}

@media (max-width: 767.98px) {
  .mobilePrimaryInformationSection {
    height: 100vh;
  }
  .mobileInstituteImage {
    width: auto;
    height: 30vh;
  }
  .mobiletriSectionRight {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    font-size: 1.5rem;
    font-weight: 400;
    white-space: nowrap;
    width: 30%;
    margin: 0px;
  }
  .mobileCompanyTitle {
    display: flex;
    align-items: center;
  }
  .mobileDegreeTitle {
    display: flex;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: rgb(0, 0, 0);
  }
}
