.experienceFirstPage {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex-direction: column;
  padding: 0px;
  background-color: rgba(241, 241, 241, 0.87);
}

.primaryInformationSection {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  padding: 3% 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.institutionImage {
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 10% ;
  display: flex;
}
.institutionTitle {
  width: 70%;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.749);
}
.triSection {
  background-color: rgba(223, 48, 48, 0);
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.triSectionLeft {
  background-color: rgba(150, 21, 21, 0);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.triSectionRight {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.424);
}
.descriptionContainer {
  margin-top: 2%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: self-start;
  height: 80%;
  background-color: rgba(46, 139, 86, 0);
}
.degreeTitle {
  width: 90%;
  justify-content: start;
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
  color: rgb(0, 0, 0);
}
.graduationHatImage {
  width: 40px;
  height: 40px;
  margin-right: 1px;
}
.locationDiv {
  display: flex;
  align-items: center;
  justify-content: start;
}
.locationImage {
  width: 25px;
  height: 25px;
}
.location {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.583);
  white-space: nowrap;
}
.bubbleSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 14px 14px;
  padding: 0px 20px 10px 20px;
}

.bubbleChip {
  margin: 5px 5px;
  color: #000000;
  white-space: nowrap;
  padding: 5px 20px;
  background-color: rgba(209, 225, 251, 0.104);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  letter-spacing: 0.2px;
  transition:
    background-color 0.2s,
    box-shadow 0.2s;
  cursor: pointer;
  box-shadow: 1px 1px 30px rgba(0, 0, 0, 0.133);
  user-select: none;
}

.bubbleChip:hover {
  background-color: rgba(112, 167, 255, 0.104);
  color: rgba(0, 0, 0, 0.523);
  box-shadow: 1px 1px 30px rgba(63, 63, 63, 0.212) inset;
}

.durationDiv {
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.4rem;
  font-weight: 200;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .primaryInformationSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
  }
  .instituteImage {
    padding-top: 7%;
    width: auto;
  }

  .degreeTitle {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  .institutionTitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .descriptionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 80%;
  }
  .instituteName {
    font-size: 1.2rem;
    font-weight: 550;
    justify-content: center;
    display: flex;
  }
  .locationDiv {
    /* border: #000000 solid 1px; */

    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0px;
  }
  
  .location {
    font-size: 1.2rem;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.583);
    white-space: nowrap;
  }
  .locationImage {
    width: 20px;
    height: 20px;
    /* margin-left: 5px; */
  }
  .durationDiv {
    /* border: #331fea solid 1px; */
    display: flex;
    font-size: 1.1rem;
    font-weight: 100;
    white-space: nowrap;
    margin: 0%;
  }
  .triSection {
    /* background-color: rgba(191, 223, 48, 0.729); */
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
  }

  .triSectionLeft {
    /* background-color: rgba(150, 21, 21, 0.691); */
    /* border: #ea1f1f solid 1px; */
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .triSectionRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
  }
  .bubbleSection {
    background-color: rgba(255, 255, 255, 0.778);
    display: none !important;
  }
}

@media (max-width: 769px) {
  .descriptionContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .primaryInformationSection {
    flex-direction: column !important;
    align-items: center;
    gap: 1rem;
  }
  .institutionImage {
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .instituteName {
    font-size: 1.2rem;
    font-weight: 550;
    justify-content: center;
    display: flex;
  }
  .locationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .durationDiv{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  triSectionRight {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0px;
  }
}
