.home {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.binding {
  display: flex;
  justify-content: end;
}




.custom-button {
  
  
  border: 1px solid black;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 45px;
  cursor: pointer;
}
.custom-button:hover {
  background-color: #000000;
  
}

