.project{
    width: 97%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  .button-container{
    display: flex;
    justify-content: end;
    padding-right: 2%;
  }
  
  .carousel-container {
    width: 100%; 
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 40px;
  }
  .carousel-grid{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1%;
    align-items: center;
    border-radius: 25px;
  }
  
  .individual-card{
      margin-right:  3%;
      position: relative;
      flex :  0 0 100%;
      height: 100%;
      border-radius: 25px;
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    }
    
    .nav-image{
      width: 30px;
      height: 30px;
      margin: 0px 5px;
      border: none;
      outline:none;
    }    
    
      button{
        border: none;
        background-color: #ffffff;
      }
    
      button.disabled {
        cursor: not-allowed; 
        opacity: 0.5; 
      }
    
      .carousel {
        display: flex;
        transition: transform 0.5s ease;
      }
    
    
        .nav-image{
          width: 30px;
          height: 30px;
          margin: 0px 5px;
          border: none;
          outline:none;
        }
    
     
    
      .carousel {
        display: flex;
        transition: transform 0.5s ease;
      }
      
    
    .education-gif-section{
    width: 97%;
    height: 200px; /* Adjust height as needed */
    display: flex;
    position : relative;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background: url('../Gif/eduaction-gif.gif') no-repeat center/contain;
  }